body{font-family:Tahoma,Arial,Helvetica,sans-serif}
.rodapeLinha{background-color:#fff}
.rodapeAssinatura{font-size:9px;color:#fff;background-color:#333}
.menuLinhaSaudacao{background-color:#fff}
.menuSaudacao{font-size:10px;color:#000}
.menuGerenciadores{font-size:10px;font-weight:bold;color:#000}
.menuLinha{background-color:#666}
.menuLinks{font-size:10px;color:#666;text-decoration:none}
.menuFundoLinks{height:19px}
.menuSuperior{font-size:10px;color:#999;background-color:#e5ebff;height:26px}
.topoCorFundo{background-image:url(imgs/fundo_topo.jpg)}
.fundoBody{background-image:url(imgs/fundo_body.jpg);background-repeat:repeat-x}
.topoLinhaPastaAtivada{background-color:#999}
.topoLinha{background-color:#333}
.topoLinha2{background-color:#333}
a.topoMenuLinks{font-size:11px;color:#FFF;font-weight:bold;text-decoration:none}
a:hover.topoMenuLinks{color:#FFF}
.pastaAtivada{background-color:#999;height:24px;border-left:1px #333 solid;border-top:1px #333 solid;border-right:1px #333 solid;border-bottom:1px #999 solid}
.pastaDesativada{background-color:#09f;height:24px;border:1px #333 solid}
.pastaAtivadaLinks{font-size:11px;color:#fff;font-weight:bold;text-decoration:none}
.pastaDesativadaLinks{font-size:11px;color:#fff;font-weight:bold;text-decoration:none}
.submenuDesativado{font-size:11px;font-weight:bold;color:#fff;background-image:url(imgs/fundo_botao_nav_desativado.jpg);height:21px;width:80px;background-repeat:no-repeat}
.submenuAtivado{font-size:11px;font-weight:bold;color:#666;background-image:url(imgs/fundo_botao_nav_ativado.jpg);height:19px;background-repeat:no-repeat}
.submenuLinkAtivado{font-size:11px;font-weight:bold;color:#f00;text-decoration:none}
.submenuLinkDesativado{font-size:11px;font-weight:bold;color:#fff;text-decoration:none}
.submenuLinhasAtivado{background-color:#fff}
.conteudoAlertaOk{margin-left:8px;font-size:11px;color:#090;font-weight:bold}
.conteudoAlertaErro{font-size:11px;color:red;font-weight:bold}
.conteudoMigalha{font-size:9px;color:#333;text-decoration:none}
.conteudoTitulo{font-size:18px;color:#060969;font-weight:bold}
.conteudoTabelaTitulo{font-size:9px;font-weight:bold;color:#fff;padding-left:0}
.conteudoTabelaSubtitulo{font-size:11px;font-weight:bold;color:#ab0000}
.conteudoTabelaCorForte{font-size:10px;color:#333;background-color:#e8e8e8;height:25px}
.conteudoTabelaCorFraca{font-size:10px;color:#333;background-color:#fff;height:25px}
.conteudoGridCorForte{font-size:10px;color:#333;background-color:#d8d8d8;height:1%}
.conteudoGridCorFraca{font-size:10px;color:#333;background-color:#e0e0e0;height:1%}
.conteudoTabelaCorFracaMaior{font-size:12px;color:#333;background-color:#fff;height:25px}
.conteudoTabela2CorForte{font-size:11px;font-weight:bold;color:#333;background-color:#e8e8e8;height:25px}
.conteudoTabela2CorFraca{font-size:11px;font-weight:bold;color:#333;background-color:#fff;height:25px}
.conteudoTabelaPrograma{font-size:11px;font-weight:bold;color:#333}
.conteudoTabelaMarcado{font-size:10px;color:#333;background-color:#ff3;height:25px}
a.conteudoTabelaLink{font-size:10px;font-weight:bold;color:#333;text-decoration:none}
a:hover.conteudoTabelaLink{text-decoration:underline}
.formTextfield{font-family:Tahoma,Verdana,Arial,Verdana;font-size:11px;color:#000;background-color:#fff;border:1px #999 solid}
.formBotao{font-size:11px;font-weight:bold;color:#fff;background-color:#09f;border:1px #000 solid;cursor:pointer;padding-left:5px;padding-right:5px}
.formBotaoMenor{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;font-weight:bold;color:#fff;background-color:#3e505a}
.instrucao{font-size:11px;color:#000}
.paginacao{font-size:9px;color:#060969}
.paginacaoAntProx{font-size:9px;color:#060969;width:10px;font-weight:bold;padding:5px}
.paginacaoSeta{font-size:9px;color:#060969;width:10px}
.paginacaoAtiva{font-size:9px;color:#fff;background-color:#e77714;font-weight:bold;width:15px}
.paginacaoInativa{font-size:9px;color:#060969;width:12px}
.corLinha1{background-color:#f9f9f9;font-size:12px}
.corLinha2{background-color:#eef2ee;font-size:12px}
.corLinha2 a,.corLinha1 a{text-decoration:none;color:#000}
.corLinha2 a:hover,.corLinha1 a:hover{text-decoration:underline;color:#000}
#menu li{float:left;margin-left:5px;margin-right:5px;text-align:center;color:#fff;font-size:12px;font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif;position:relative;padding-top:1px;padding-bottom:1px;font-weight:bold;width:11em;cursor:pointer;list-style:none;padding:0 10px 0 10px;border:1px #000 solid;background-color:#00c;margin-bottom:0}
.submenu{position:absolute;left:-5000px}
#menu .submenu li{background-color:#ccc;margin-top:1px;border:0;width:13em}
#menu li:hover .submenu{top:9px;left:-7px;padding-left:0;padding-top:11px}
#menu .submenu li:hover{background-color:#999;border:1px #000 solid}
#menu .submenu li{border:1px #999 solid;color:#000}
#menu .submenu li a{text-decoration:none;color:#000}
#menu li:hover{cursor:pointer}
#menu li.over .submenu{top:9px;left:-46px;cursor:pointer;padding-top:10px;text-decoration:none}
#menu li.over .submenu a{text-decoration:none;color:#000;width:13em}
#menu .submenu li.over{background:#999;border-color:#000}
.tabelaSimples td{font-size:10px;font-weight:bold;text-decoration:none;color:#333;padding-left:5px;border:1px solid #eee}
.olaUserTopo{font-size:12px;color:#333;font-weight:bold;padding-right:10px}
.saudacaoTopo{font-size:12px;color:#333;padding-right:14px}
.prova{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;width:800;position:absolute;left:50%;top:50%;margin-left:-310px;margin-top:-250px}
.provaTopo{background-image:url(imgs/top_prova.gif);height:70px;width:599px}
.provaRodape{background-image:url(imgs/rodape_prova.gif);height:52px;width:599px}
.provaPerguntas{border-left:2px solid #868686;border-right:2px solid #868686;width:592px;//width:596px;margin-left:2px;background-color:#fff}
#pergInterna #pergunta{font-weight:bold;color:#930}
.fundoProva{background-image:url(imgs/fundo_prova.jpg);background-repeat:repeat}
#pergInterna{margin-left:30px;padding-top:40px;background-color:#fff}
#alertaPerguntas{background-color:#36648b;border:7px solid #CCC;color:#fff;position:absolute;font-weight:bold;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;width:300px;left:50%;top:50%;margin-left:-150px;margin-top:-150px;z-index:4;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px}
#divAlerta{background-color:#36648b;border:7px double #CCC;color:#fff;display:none;font-weight:bold;font-size:12px;text-align:center;padding-top:15px}
#divAlerta td{font-size:9px;color:#FFF;font-weight:bold;font-family:'Verdana'}
#fundoAlerta{display:none;margin-left:0;position:absolute;z-index:3;width:100%;height:100%;background-color:#000}
#fotoProva{background-color:#ccc;padding:5px;border:1px solid #999;margin-left:20px;margin-top:10px;float:left;margin-bottom:20px}
#container{width:780px;position:absolute;left:50%;margin-left:-390px}
#topo{width:780px;height:111px;background-image:url(/moreira/imgs/topo.jpg)}
#logoTopo{padding-left:20px;float:left}
#infoSiteTopo{font-family:'Verdana';float:right;margin-top:35px;margin-right:10px;color:#069;height:20px;font-size:14px}
.linksTopo{font-family:'Verdana';float:right;margin-right:1px;color:#fff;font-size:10px;font-weight:bold;width:410px}
.linksTopo a{color:#fff;text-decoration:none}
.linksTopo a:hover{color:#fff;text-decoration:underline}
#banner_esq{background-image:url(/moreira/imgs/banner_esq.jpg);width:363px;height:289px;float:left}
#banner_dir{background-image:url(/moreira/imgs/banner_dir_png.png);width:396px;height:289px;float:left}
#banner_dir_cont{background-image:url(/moreira/imgs/banner_dir_cont.jpg);float:right;height:289px;width:20px}
#banner_dir p{color:#fff;float:right;margin-top:275px;margin-right:22px;clear:left;color:#930;font-size:11px}
#beira_menu_esq{background-image:url(/moreira/imgs/beira_menu_esq.jpg);width:19px;height:78px;float:left}
#menu_topo{float:left;width:742px;height:78px}
#beira_menu_dir{background-image:url(/moreira/imgs/beira_menu_dir.jpg);width:19px;height:78px;float:right}
#filete_branco{width:780px;float:left;height:14px;border:1px solid blue}
#destaque_index{width:780px;float:left}
#infoSiteBanner1{float:left;font-size:40px;width:350px;margin-top:51px}
#infoSiteBanner2{float:left;color:#c3133c;font-size:10px;width:310px;clear:left;margin-top:12px;font-weight:bolder}
#infoSiteBanner3{float:left;color:#666;font-size:11px;width:310px;clear:left;margin-top:12px}
#infoDataBanner{float:right;color:#930;font-size:10px;width:240px;margin-top:27px}
#beira_artigo_esq{width:21px;height:250px;float:left;background-image:url(/moreira/imgs/beira_artigo_esq.jpg)}
#beira_artigo_dir{width:19px;height:250px;float:right;background-image:url(/moreira/imgs/beira_artigo_dir.jpg)}
.link_home a{font-size:12px}
.link_home a:hover{text-decoration:underline;cursor:pointer}
#chamada{height:56px;float:left}
#conteudo_destaque{float:left;margin-left:30px;margin-top:10px;font-family:Tahoma;font-size:13px;width:700px;height:70px}
#conteudo_destaque a{text-decoration:none;color:#000}
#conteudo_destaque a:hover{text-decoration:underline}
#filete_tracejado{float:left;width:698px;height:1px;margin-top:18px;margin-left:20px;margin-right:20px;background-repeat:repeat-x;background-image:url(/moreira/imgs/linha_tracejado.jpg)}
#filete_tracejado_vertical{float:left;width:1px;height:230px;background-repeat:repeat-y;background-image:url(/moreira/imgs/linha_tracejado_vert.jpg)}
#titulo_destaque{float:left;width:700px;color:#900;margin-left:30px;font-family:Verdana;font-weight:bold;font-size:18px;margin-top:5px}
#migalha{float:left;color:#a5a5a5;margin-left:30px;font-family:Tahoma;font-size:11px;margin-top:2px}
#beira_prof_esq{margin-left:14px;width:8px;height:185px;float:left;background-image:url(/moreira/imgs/beira_prof_esq.jpg)}
#beira_prof_dir{margin-right:14px;width:6px;height:200px;float:right;background-image:url(/moreira/imgs/beira_prof_dir.jpg)}
#beira_download_esq{margin-left:14px;width:8px;height:246px;float:left}
#download_destaque{width:360px;float:left;height:246px;margin-top:8px}
#download_conteudo_destaque{float:left;clear:left}
#download_conteudo_destaque ul{list-style:url(/moreira/imgs/ico_download_list.jpg);margin-left:30px;margin-top:5px}
#download_conteudo_destaque ul a{color:#5b8ca1;font-weight:bold;font-size:11px;text-decoration:none}
#download_conteudo_destaque ul a:hover{text-decoration:underline}
#sisonline_destaque{margin-left:7px;width:365px;float:left;height:246px;margin-top:8px}
#beira_sisonline_dir{margin-right:13px;width:9px;height:185px;float:right;background-image:url(/moreira/imgs/beira_sisonline_dir.jpg)}
#sis_login{margin-top:80px;margin-left:50px;font-family:Verdana,Arial,Helvetica,sans-serif}
#esqueci_senha{display:none;border:1px solid red;position:absolute;top:900px;left:430px;height:100px;width:270px;background-color:#fff;border:2px dotted #666;padding-top:3px;padding-left:15px;font-size:11px}
#rodape{float:left;width:700px;height:65px}
#rights{float:left;width:400px;font-size:12px;font-family:Tahoma;margin-left:45px;margin-top:5px;color:#2e333c}
#developBy{float:right;color:#2e333c;font-family:Georgia;font-size:12px;margin-top:5px}
#interna_esq{float:left;background-image:url(/moreira/imgs/beira_esq_interna.jpg);width:21px;height:601px}
#interna_dir{float:right;background-image:url(/moreira/imgs/beira_dir_interna.jpg);width:18px;height:604px}
#migalha_interna{float:left;color:#a5a5a5;margin-left:30px;font-family:Tahoma;font-size:11px;margin-top:2px;width:300px}
#titulo_interno{float:left;width:700px;color:#900;margin-left:30px;font-family:Verdana;font-weight:bold;font-size:18px}
#titulo_interno_lista{float:left;width:700px;color:#900;margin-left:30px;font-family:Verdana;font-weight:bold;font-size:14px}
#lista_interna_outros{float:left;margin-left:50px;margin-top:20px}
#lista_interna_outros li a{color:#960;text-decoration:none}
#lista_interna_outros li a:hover{color:#960;text-decoration:underline}
#lista_interna_outros p{margin-left:5px;font-size:11px}
#chamada_interna{float:left;width:680px;height:80px;margin-top:5px;margin-left:8px}
.detalhe_download{width:400px;margin-bottom:30px}
#titulo_download{margin:1px;color:#b30000;font-weight:bold;text-decoration:none;font-size:12px}
#desc_download{background-color:#e0e0e0;margin:0 1px 1px 1px;font-family:Verdana;font-size:10px;padding:2px}
.ler_integra{float:left;clear:left;margin:4px 0 0 30px;font-size:9px;font-weight:bold;width:200px}
.ler_integra a{color:#900;text-decoration:none;margin-left:2px}
.ler_integra a{color:#900;text-decoration:none}
.ler_integra a:hover{text-decoration:underline}
#conteudo_interna{float:left;margin-left:30px;margin-top:10px;font-family:Tahoma;font-size:13px;width:700px}
#conteudo_interna_lista{float:left;margin-left:30px;margin-top:1px;font-family:Tahoma;font-size:11px;width:500px}
.busca_interna{float:left;clear:left;margin-left:60px;margin-bottom:20px;margin-top:3px;border:1px dotted #777;padding:10px 8px 3px 8px;width:563px}
.busca_interna img{margin-top:3px}
.busca_interna p{color:#900;font-weight:bold;text-align:left;margin:0 0 20px 0;font-size:13px}
.paginador{float:left;clear:left;margin-top:40px;margin-left:260px}
.caixaLink{width:210px;height:150px;float:left;margin-bottom:20px;margin-right:20px}
.caixaLink #titulo{color:#900;font-weight:bold;font-size:13px;padding-left:3px;float:left;width:205px}
.caixaLink #foto{padding:4px;float:left;clear:left;border:1px dashed #dfdfdf;margin-right:3px}
.caixaLink #descricao{font-size:11px;color:#2e333c}
.caixaLink #link{float:left;clear:left;color:#2e333c;font-size:11px;margin-top:5px}
.caixaLink #link a{color:#ffa500;text-decoration:none}
.caixaLink #link a:hover{color:#ffa500;text-decoration:underline}
#bannerAluno{width:686px;height:90px;background:url(/moreira/imgs/banner_aluno_interna3.jpg);background-repeat:repeat-x;margin-bottom:10px}
#rodapeAluno{width:686px;height:20px;background:url(/moreira/imgs/rodape_interna_aluno.jpg);background-repeat:repeat-x;float:left;margin-top:30px;clear:left}
#bannerAluno #secaoInternaAluno{color:#ff0;font-family:Trebuchet MS,Trebuchet,Verdana,Tahoma;font-size:26px;margin-top:12px;margin-left:8px;float:left}
#bannerAluno #logoInternaAluno{width:175px;height:60px;float:right;margin-top:5px;margin-right:5px;background:url(/moreira/imgs/logo_banner_interna.gif)}
#containerOptAluno{width:686px;position:absolute;left:50%;margin-left:-346px}
#saudacaoAluno{float:left;margin-top:65px;margin-left:40px;font-size:12px;color:#000;text-decoration:none}
#saudacaoAluno a{color:#000;text-decoration:none}
#saudacaoAluno a:hover{color:#000;text-decoration:underline}
.menuInternoAlunoEsq{height:60px;width:300px;clear:left;float:left;padding-left:10px;padding-top:12px;margin-right:10px;border:2px solid #fff;font-family:Verdana;font-size:14px;color:#000}
.menuInternoAlunoEsq a{text-decoration:none;color:#000}
.menuInternoAlunoEsq:hover{border:2px solid #f00}
.menuInternoAlunoDir{float:right;height:60px;width:300px;padding-left:10px;padding-top:10px;border:2px solid #fff;font-family:Verdana;font-size:14px;color:#000}
.menuInternoAlunoDir a{text-decoration:none;color:#000}
.menuInternoAlunoDir:hover{border:2px solid #f00}
.botaoAzul{background-image:url("/moreira/imgs/botao_azul.jpg");background-repeat:repeat-x;color:#fff;height:20px;width:70px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:0;padding-bottom:3px;padding-left:5px;padding-right:5px;cursor:pointer}
#barraOrdenacaoAluno{background-image:url("/moreira/imgs/barra_ordenacao.jpg");float:left;height:24px;width:331px;margin-bottom:30px}